@font-face {
  font-family: 'simple-line-icons';
  src: url('../font/Simple-Line-icons.eot?v=2.4.0');
  src: url('../font/Simple-Line-icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../font/Simple-Line-icons.woff2?v=2.4.0') format('woff2'), url('../font/Simple-Line-icons.ttf?v=2.4.0') format('truetype'), url('../font/Simple-Line-icons.woff?v=2.4.0') format('woff'), url('../font/Simple-Line-icons.svg?v=2.4.0#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 Use the following CSS code if you want to have a class per sorolicon.
 Instead of a list of all class selectors, you can use the generic [class*="sorolicon-"] selector, but it's slower:
*/
.sorolicon-user,
.sorolicon-people,
.sorolicon-user-female,
.sorolicon-user-follow,
.sorolicon-user-following,
.sorolicon-user-unfollow,
.sorolicon-login,
.sorolicon-logout,
.sorolicon-emotsmile,
.sorolicon-phone,
.sorolicon-call-end,
.sorolicon-call-in,
.sorolicon-call-out,
.sorolicon-map,
.sorolicon-location-pin,
.sorolicon-direction,
.sorolicon-directions,
.sorolicon-compass,
.sorolicon-layers,
.sorolicon-menu,
.sorolicon-list,
.sorolicon-options-vertical,
.sorolicon-options,
.sorolicon-arrow-down,
.sorolicon-arrow-left,
.sorolicon-arrow-right,
.sorolicon-arrow-up,
.sorolicon-arrow-up-circle,
.sorolicon-arrow-left-circle,
.sorolicon-arrow-right-circle,
.sorolicon-arrow-down-circle,
.sorolicon-check,
.sorolicon-clock,
.sorolicon-plus,
.sorolicon-minus,
.sorolicon-close,
.sorolicon-event,
.sorolicon-exclamation,
.sorolicon-organization,
.sorolicon-trophy,
.sorolicon-screen-smartphone,
.sorolicon-screen-desktop,
.sorolicon-plane,
.sorolicon-notebook,
.sorolicon-mustache,
.sorolicon-mouse,
.sorolicon-magnet,
.sorolicon-energy,
.sorolicon-disc,
.sorolicon-cursor,
.sorolicon-cursor-move,
.sorolicon-crop,
.sorolicon-chemistry,
.sorolicon-speedometer,
.sorolicon-shield,
.sorolicon-screen-tablet,
.sorolicon-magic-wand,
.sorolicon-hourglass,
.sorolicon-graduation,
.sorolicon-ghost,
.sorolicon-game-controller,
.sorolicon-fire,
.sorolicon-eyeglass,
.sorolicon-envelope-open,
.sorolicon-envelope-letter,
.sorolicon-bell,
.sorolicon-badge,
.sorolicon-anchor,
.sorolicon-wallet,
.sorolicon-vector,
.sorolicon-speech,
.sorolicon-puzzle,
.sorolicon-printer,
.sorolicon-present,
.sorolicon-playlist,
.sorolicon-pin,
.sorolicon-picture,
.sorolicon-handbag,
.sorolicon-globe-alt,
.sorolicon-globe,
.sorolicon-folder-alt,
.sorolicon-folder,
.sorolicon-film,
.sorolicon-feed,
.sorolicon-drop,
.sorolicon-drawer,
.sorolicon-docs,
.sorolicon-doc,
.sorolicon-diamond,
.sorolicon-cup,
.sorolicon-calculator,
.sorolicon-bubbles,
.sorolicon-briefcase,
.sorolicon-book-open,
.sorolicon-basket-loaded,
.sorolicon-basket,
.sorolicon-bag,
.sorolicon-action-undo,
.sorolicon-action-redo,
.sorolicon-wrench,
.sorolicon-umbrella,
.sorolicon-trash,
.sorolicon-tag,
.sorolicon-support,
.sorolicon-frame,
.sorolicon-size-fullscreen,
.sorolicon-size-actual,
.sorolicon-shuffle,
.sorolicon-share-alt,
.sorolicon-share,
.sorolicon-rocket,
.sorolicon-question,
.sorolicon-pie-chart,
.sorolicon-pencil,
.sorolicon-note,
.sorolicon-loop,
.sorolicon-home,
.sorolicon-grid,
.sorolicon-graph,
.sorolicon-microphone,
.sorolicon-music-tone-alt,
.sorolicon-music-tone,
.sorolicon-earphones-alt,
.sorolicon-earphones,
.sorolicon-equalizer,
.sorolicon-like,
.sorolicon-dislike,
.sorolicon-control-start,
.sorolicon-control-rewind,
.sorolicon-control-play,
.sorolicon-control-pause,
.sorolicon-control-forward,
.sorolicon-control-end,
.sorolicon-volume-1,
.sorolicon-volume-2,
.sorolicon-volume-off,
.sorolicon-calendar,
.sorolicon-bulb,
.sorolicon-chart,
.sorolicon-ban,
.sorolicon-bubble,
.sorolicon-camrecorder,
.sorolicon-camera,
.sorolicon-cloud-download,
.sorolicon-cloud-upload,
.sorolicon-envelope,
.sorolicon-eye,
.sorolicon-flag,
.sorolicon-heart,
.sorolicon-info,
.sorolicon-key,
.sorolicon-link,
.sorolicon-lock,
.sorolicon-lock-open,
.sorolicon-magnifier,
.sorolicon-magnifier-add,
.sorolicon-magnifier-remove,
.sorolicon-paper-clip,
.sorolicon-paper-plane,
.sorolicon-power,
.sorolicon-refresh,
.sorolicon-reload,
.sorolicon-settings,
.sorolicon-star,
.sorolicon-symbol-female,
.sorolicon-symbol-male,
.sorolicon-target,
.sorolicon-credit-card,
.sorolicon-paypal,
.sorolicon-social-tumblr,
.sorolicon-social-twitter,
.sorolicon-social-facebook,
.sorolicon-social-instagram,
.sorolicon-social-linkedin,
.sorolicon-social-pinterest,
.sorolicon-social-github,
.sorolicon-social-google,
.sorolicon-social-reddit,
.sorolicon-social-skype,
.sorolicon-social-dribbble,
.sorolicon-social-behance,
.sorolicon-social-foursqare,
.sorolicon-social-soundcloud,
.sorolicon-social-spotify,
.sorolicon-social-stumbleupon,
.sorolicon-social-youtube,
.sorolicon-social-dropbox,
.sorolicon-social-vkontakte,
.sorolicon-social-steam {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sorolicon-user:before {
  content: "\e005";
}
.sorolicon-people:before {
  content: "\e001";
}
.sorolicon-user-female:before {
  content: "\e000";
}
.sorolicon-user-follow:before {
  content: "\e002";
}
.sorolicon-user-following:before {
  content: "\e003";
}
.sorolicon-user-unfollow:before {
  content: "\e004";
}
.sorolicon-login:before {
  content: "\e066";
}
.sorolicon-logout:before {
  content: "\e065";
}
.sorolicon-emotsmile:before {
  content: "\e021";
}
.sorolicon-phone:before {
  content: "\e600";
}
.sorolicon-call-end:before {
  content: "\e048";
}
.sorolicon-call-in:before {
  content: "\e047";
}
.sorolicon-call-out:before {
  content: "\e046";
}
.sorolicon-map:before {
  content: "\e033";
}
.sorolicon-location-pin:before {
  content: "\e096";
}
.sorolicon-direction:before {
  content: "\e042";
}
.sorolicon-directions:before {
  content: "\e041";
}
.sorolicon-compass:before {
  content: "\e045";
}
.sorolicon-layers:before {
  content: "\e034";
}
.sorolicon-menu:before {
  content: "\e601";
}
.sorolicon-list:before {
  content: "\e067";
}
.sorolicon-options-vertical:before {
  content: "\e602";
}
.sorolicon-options:before {
  content: "\e603";
}
.sorolicon-arrow-down:before {
  content: "\e604";
}
.sorolicon-arrow-left:before {
  content: "\e605";
}
.sorolicon-arrow-right:before {
  content: "\e606";
}
.sorolicon-arrow-up:before {
  content: "\e607";
}
.sorolicon-arrow-up-circle:before {
  content: "\e078";
}
.sorolicon-arrow-left-circle:before {
  content: "\e07a";
}
.sorolicon-arrow-right-circle:before {
  content: "\e079";
}
.sorolicon-arrow-down-circle:before {
  content: "\e07b";
}
.sorolicon-check:before {
  content: "\e080";
}
.sorolicon-clock:before {
  content: "\e081";
}
.sorolicon-plus:before {
  content: "\e095";
}
.sorolicon-minus:before {
  content: "\e615";
}
.sorolicon-close:before {
  content: "\e082";
}
.sorolicon-event:before {
  content: "\e619";
}
.sorolicon-exclamation:before {
  content: "\e617";
}
.sorolicon-organization:before {
  content: "\e616";
}
.sorolicon-trophy:before {
  content: "\e006";
}
.sorolicon-screen-smartphone:before {
  content: "\e010";
}
.sorolicon-screen-desktop:before {
  content: "\e011";
}
.sorolicon-plane:before {
  content: "\e012";
}
.sorolicon-notebook:before {
  content: "\e013";
}
.sorolicon-mustache:before {
  content: "\e014";
}
.sorolicon-mouse:before {
  content: "\e015";
}
.sorolicon-magnet:before {
  content: "\e016";
}
.sorolicon-energy:before {
  content: "\e020";
}
.sorolicon-disc:before {
  content: "\e022";
}
.sorolicon-cursor:before {
  content: "\e06e";
}
.sorolicon-cursor-move:before {
  content: "\e023";
}
.sorolicon-crop:before {
  content: "\e024";
}
.sorolicon-chemistry:before {
  content: "\e026";
}
.sorolicon-speedometer:before {
  content: "\e007";
}
.sorolicon-shield:before {
  content: "\e00e";
}
.sorolicon-screen-tablet:before {
  content: "\e00f";
}
.sorolicon-magic-wand:before {
  content: "\e017";
}
.sorolicon-hourglass:before {
  content: "\e018";
}
.sorolicon-graduation:before {
  content: "\e019";
}
.sorolicon-ghost:before {
  content: "\e01a";
}
.sorolicon-game-controller:before {
  content: "\e01b";
}
.sorolicon-fire:before {
  content: "\e01c";
}
.sorolicon-eyeglass:before {
  content: "\e01d";
}
.sorolicon-envelope-open:before {
  content: "\e01e";
}
.sorolicon-envelope-letter:before {
  content: "\e01f";
}
.sorolicon-bell:before {
  content: "\e027";
}
.sorolicon-badge:before {
  content: "\e028";
}
.sorolicon-anchor:before {
  content: "\e029";
}
.sorolicon-wallet:before {
  content: "\e02a";
}
.sorolicon-vector:before {
  content: "\e02b";
}
.sorolicon-speech:before {
  content: "\e02c";
}
.sorolicon-puzzle:before {
  content: "\e02d";
}
.sorolicon-printer:before {
  content: "\e02e";
}
.sorolicon-present:before {
  content: "\e02f";
}
.sorolicon-playlist:before {
  content: "\e030";
}
.sorolicon-pin:before {
  content: "\e031";
}
.sorolicon-picture:before {
  content: "\e032";
}
.sorolicon-handbag:before {
  content: "\e035";
}
.sorolicon-globe-alt:before {
  content: "\e036";
}
.sorolicon-globe:before {
  content: "\e037";
}
.sorolicon-folder-alt:before {
  content: "\e039";
}
.sorolicon-folder:before {
  content: "\e089";
}
.sorolicon-film:before {
  content: "\e03a";
}
.sorolicon-feed:before {
  content: "\e03b";
}
.sorolicon-drop:before {
  content: "\e03e";
}
.sorolicon-drawer:before {
  content: "\e03f";
}
.sorolicon-docs:before {
  content: "\e040";
}
.sorolicon-doc:before {
  content: "\e085";
}
.sorolicon-diamond:before {
  content: "\e043";
}
.sorolicon-cup:before {
  content: "\e044";
}
.sorolicon-calculator:before {
  content: "\e049";
}
.sorolicon-bubbles:before {
  content: "\e04a";
}
.sorolicon-briefcase:before {
  content: "\e04b";
}
.sorolicon-book-open:before {
  content: "\e04c";
}
.sorolicon-basket-loaded:before {
  content: "\e04d";
}
.sorolicon-basket:before {
  content: "\e04e";
}
.sorolicon-bag:before {
  content: "\e04f";
}
.sorolicon-action-undo:before {
  content: "\e050";
}
.sorolicon-action-redo:before {
  content: "\e051";
}
.sorolicon-wrench:before {
  content: "\e052";
}
.sorolicon-umbrella:before {
  content: "\e053";
}
.sorolicon-trash:before {
  content: "\e054";
}
.sorolicon-tag:before {
  content: "\e055";
}
.sorolicon-support:before {
  content: "\e056";
}
.sorolicon-frame:before {
  content: "\e038";
}
.sorolicon-size-fullscreen:before {
  content: "\e057";
}
.sorolicon-size-actual:before {
  content: "\e058";
}
.sorolicon-shuffle:before {
  content: "\e059";
}
.sorolicon-share-alt:before {
  content: "\e05a";
}
.sorolicon-share:before {
  content: "\e05b";
}
.sorolicon-rocket:before {
  content: "\e05c";
}
.sorolicon-question:before {
  content: "\e05d";
}
.sorolicon-pie-chart:before {
  content: "\e05e";
}
.sorolicon-pencil:before {
  content: "\e05f";
}
.sorolicon-note:before {
  content: "\e060";
}
.sorolicon-loop:before {
  content: "\e064";
}
.sorolicon-home:before {
  content: "\e069";
}
.sorolicon-grid:before {
  content: "\e06a";
}
.sorolicon-graph:before {
  content: "\e06b";
}
.sorolicon-microphone:before {
  content: "\e063";
}
.sorolicon-music-tone-alt:before {
  content: "\e061";
}
.sorolicon-music-tone:before {
  content: "\e062";
}
.sorolicon-earphones-alt:before {
  content: "\e03c";
}
.sorolicon-earphones:before {
  content: "\e03d";
}
.sorolicon-equalizer:before {
  content: "\e06c";
}
.sorolicon-like:before {
  content: "\e068";
}
.sorolicon-dislike:before {
  content: "\e06d";
}
.sorolicon-control-start:before {
  content: "\e06f";
}
.sorolicon-control-rewind:before {
  content: "\e070";
}
.sorolicon-control-play:before {
  content: "\e071";
}
.sorolicon-control-pause:before {
  content: "\e072";
}
.sorolicon-control-forward:before {
  content: "\e073";
}
.sorolicon-control-end:before {
  content: "\e074";
}
.sorolicon-volume-1:before {
  content: "\e09f";
}
.sorolicon-volume-2:before {
  content: "\e0a0";
}
.sorolicon-volume-off:before {
  content: "\e0a1";
}
.sorolicon-calendar:before {
  content: "\e075";
}
.sorolicon-bulb:before {
  content: "\e076";
}
.sorolicon-chart:before {
  content: "\e077";
}
.sorolicon-ban:before {
  content: "\e07c";
}
.sorolicon-bubble:before {
  content: "\e07d";
}
.sorolicon-camrecorder:before {
  content: "\e07e";
}
.sorolicon-camera:before {
  content: "\e07f";
}
.sorolicon-cloud-download:before {
  content: "\e083";
}
.sorolicon-cloud-upload:before {
  content: "\e084";
}
.sorolicon-envelope:before {
  content: "\e086";
}
.sorolicon-eye:before {
  content: "\e087";
}
.sorolicon-flag:before {
  content: "\e088";
}
.sorolicon-heart:before {
  content: "\e08a";
}
.sorolicon-info:before {
  content: "\e08b";
}
.sorolicon-key:before {
  content: "\e08c";
}
.sorolicon-link:before {
  content: "\e08d";
}
.sorolicon-lock:before {
  content: "\e08e";
}
.sorolicon-lock-open:before {
  content: "\e08f";
}
.sorolicon-magnifier:before {
  content: "\e090";
}
.sorolicon-magnifier-add:before {
  content: "\e091";
}
.sorolicon-magnifier-remove:before {
  content: "\e092";
}
.sorolicon-paper-clip:before {
  content: "\e093";
}
.sorolicon-paper-plane:before {
  content: "\e094";
}
.sorolicon-power:before {
  content: "\e097";
}
.sorolicon-refresh:before {
  content: "\e098";
}
.sorolicon-reload:before {
  content: "\e099";
}
.sorolicon-settings:before {
  content: "\e09a";
}
.sorolicon-star:before {
  content: "\e09b";
}
.sorolicon-symbol-female:before {
  content: "\e09c";
}
.sorolicon-symbol-male:before {
  content: "\e09d";
}
.sorolicon-target:before {
  content: "\e09e";
}
.sorolicon-credit-card:before {
  content: "\e025";
}
.sorolicon-paypal:before {
  content: "\e608";
}
.sorolicon-social-tumblr:before {
  content: "\e00a";
}
.sorolicon-social-twitter:before {
  content: "\e009";
}
.sorolicon-social-facebook:before {
  content: "\e00b";
}
.sorolicon-social-instagram:before {
  content: "\e609";
}
.sorolicon-social-linkedin:before {
  content: "\e60a";
}
.sorolicon-social-pinterest:before {
  content: "\e60b";
}
.sorolicon-social-github:before {
  content: "\e60c";
}
.sorolicon-social-google:before {
  content: "\e60d";
}
.sorolicon-social-reddit:before {
  content: "\e60e";
}
.sorolicon-social-skype:before {
  content: "\e60f";
}
.sorolicon-social-dribbble:before {
  content: "\e00d";
}
.sorolicon-social-behance:before {
  content: "\e610";
}
.sorolicon-social-foursqare:before {
  content: "\e611";
}
.sorolicon-social-soundcloud:before {
  content: "\e612";
}
.sorolicon-social-spotify:before {
  content: "\e613";
}
.sorolicon-social-stumbleupon:before {
  content: "\e614";
}
.sorolicon-social-youtube:before {
  content: "\e008";
}
.sorolicon-social-dropbox:before {
  content: "\e00c";
}
.sorolicon-social-vkontakte:before {
  content: "\e618";
}
.sorolicon-social-steam:before {
  content: "\e620";
}
